body {
  margin: 0px 0px;
  padding: 0px 0px;
  background-color: #007cffd4;
  font-family: cursive;
}
h1 {
  color: white;
  text-align: center;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#searchbox {
  height: 35px;
  width: 250px;
  border-radius: 100px;
  border: none;
  outline: none;
}
#weather {
  color: white;
  font-size: 4vh;
}

